/* Reset some default styling */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.heading {
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subHeading {
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px;
}

.logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* User Dropdown */
.user-dropdown {
    font-size: 24px;
    position: relative;
    cursor: pointer;
}

.circle-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.user-dropdown .dropdown-content a {
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.user-dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-dropdown.active .dropdown-content {
    display: block;
}

/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Users List */
.users-list {

    display: flex;
    flex-direction: column;
}

.user-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.user-item button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ff5e5e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.user-item button:hover {
    background-color: #ff3434;
}