/* Global*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 19px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.user-buttons a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

/* Hotel List */
.hotel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.hotel-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hotel-card img {
    max-width: 100%;
    height: auto;
}

.hotel-card h2 {
    margin-top: 10px;
}

.hotel-card p {
    margin-top: 10px;
}

.card-buttons {
    margin-top: 10px;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 10px;
}
